mule/src/main/app/project2mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8080" basePath="/howto" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8085" basePath="/thepower" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="Auth"  host="myaauth.herokuapp.com" port="80" doc:name="HTTP Request Configuration"/>
    <http:request-config name="StockInfoConfig" host="thepowerstock.herokuapp.com" port="80" basePath="/stock" doc:name="HTTP Request Configuration"/>
    <http:request-config name="Articles" host="ec2-3-16-91-173.us-east-2.compute.amazonaws.com" port="8080" basePath="/articles" doc:name="HTTP Request Configuration"/>
    <http:request-config name="UserInfo" host="rajj.herokuapp.com" port="80" doc:name="HTTP Request Configuration"/>

    <flow name="AuthGetToken">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/authtoken" doc:name="HTTP" allowedMethods="POST"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <response>
            <http:request config-ref="Auth" path="/token" method="POST" doc:name="HTTP"/>
        </response>


        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="ViewStocksStockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/stocks" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="StockInfoConfig" path="/stocks" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="CompareStocksStockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/comparestock/{stock1}/{stock2}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="stock1" value="#[message.inboundProperties.'http.uri.params'.stock1]" doc:name="Stock1"/>
        <set-variable variableName="stock2" value="#[message.inboundProperties.'http.uri.params'.stock2]" doc:name="Stock2"/>
        <response>
            <http:request config-ref="StockInfoConfig" path="/compare/{stock1}/{stock2}" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:uri-param paramName="stock1" value="#[flowVars.stock1]"/>
                    <http:uri-param paramName="stock2" value="#[flowVars.stock2]"/>
                </http:request-builder>
            </http:request>
        </response>


        <logger message="#[flowVars.stock1]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="CustomIndexStockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/stockcustomindex/{timeframedays}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="timeframedays" value="#[message.inboundProperties.'http.uri.params'.timeframedays]" doc:name="TimeFrameDays"/>
        <logger message="#[flowVars.timeframedays]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="StockInfoConfig" path="/customindex/{timeframedays}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="timeframedays" value="#[flowVars.timeframedays]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="DailyHighStockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/highaverage/{stock}/{days}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="stock" value="#[message.inboundProperties.'http.uri.params'.stock]" doc:name="Stock"/>
        <set-variable variableName="days" value="#[message.inboundProperties.'http.uri.params'.days]" doc:name="Days"/>
        <http:request config-ref="StockInfoConfig" path="/high/{stock}/{days}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="stock" value="#[flowVars.stock]"/>
                <http:uri-param paramName="days" value="#[flowVars.days]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="DailyLowStockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/lowaverage/{stock}/{days}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="stock" value="#[message.inboundProperties.'http.uri.params'.stock]" doc:name="Stock"/>
        <set-variable variableName="days" value="#[message.inboundProperties.'http.uri.params'.days]" doc:name="Days"/>
        <http:request config-ref="StockInfoConfig" path="/low/{stock}/{days}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="stock" value="#[flowVars.stock]"/>
                <http:uri-param paramName="days" value="#[flowVars.days]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="StockInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/stockinfo/{stock}/{timeframe}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="stock" value="#[message.inboundProperties.'http.uri.params'.stock]" doc:name="Stock"/>
        <set-variable variableName="timeframe" value="#[message.inboundProperties.'http.uri.params'.timeframe]" doc:name="TimeFrame"/>
        <http:request config-ref="StockInfoConfig" path="/stockinfo/{stock}/{timeframe}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="stock" value="#[flowVars.stock]"/>
                <http:uri-param paramName="timeframe" value="#[flowVars.timeframe]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="SearchCompanyArticle">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/searchcompany/{company}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="company" value="#[message.inboundProperties.'http.uri.params'.company]" doc:name="Company"/>
        <http:request config-ref="Articles" path="/searchcompany/{company}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="company" value="#[flowVars.company]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="SearchKeywordArticle">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/searchkeyword/{keyword}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="keyword" value="#[message.inboundProperties.'http.uri.params'.keyword]" doc:name="Keyword"/>
        <http:request config-ref="Articles" path="/searchkeyword/{keyword}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="keyword" value="#[flowVars.keyword]"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="UserInfoUsers">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/userinfo/{username}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="username" value="#[message.inboundProperties.'http.uri.params'.username]" doc:name="Username"/>
        <http:request config-ref="UserInfo" path="/users/{username}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="username" value="#[flowVars.username]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="CustomIndexUserInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/userindex/{username}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="username" value="#[message.inboundProperties.'http.uri.params'.username]" doc:name="Username"/>
        <http:request config-ref="UserInfo" path="/users/{username}/index" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="username" value="#[flowVars.username]"/>

            </http:request-builder>
        </http:request>
    </flow>
    <flow name="PortfolioUserInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/portfolio/{username}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="username" value="#[message.inboundProperties.'http.uri.params'.username]" doc:name="username"/>
        <logger message="#[flowVars.username], #[message.inboundProperties.'http.uri.params'.username]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="UserInfo" path="/users/{username}/portfolio" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="username" value="#[flowVars.username]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="AddFundsUserInfo">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/users/{username}/addFunds/{amount}" allowedMethods="GET" doc:name="HTTP"/>
        <response>
            <http:request config-ref="UserInfo" path="/users/{username}/addFunds/{amount}" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:uri-param paramName="username" value="#[flowVars.username]"/>
                    <http:uri-param paramName="amount" value="#[flowVars.amount]"/>
                </http:request-builder>
            </http:request>
        </response>
        <set-variable variableName="username" value="#[message.inboundProperties.'http.uri.params'.username]" doc:name="Username"/>
        <set-variable variableName="amount" value="#[message.inboundProperties.'http.uri.params'.amount]" doc:name="Amont"/>
    </flow>

</mule>