mule/src/main/app/project2mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8080" basePath="/howto" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" outputPattern="index.html" readFromDirectory="${app.home}" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8080" basePath="/thepower" doc:name="HTTP Listener Configuration"/>
    <flow name="Auth">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/auth" doc:name="HTTP"/>
        <set-payload value="#[message.payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="tinker">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
    </flow>
</mule>
